.valores {
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.homeTitulo {
    font-size: 25pt;
    color: var(--corPrincipal);
    padding: 8px;
    text-align: center;
}

.homeTexto {
    font-size: 20px;
    color: var(--corTextoA);
    padding: 8px;
    text-align: center;
}

.input { 
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--corSecundária);
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: var(--corPrincipal);
    outline: none;
}

.button {
    background-color: var(--corSecundária);
    transition: background-color 0.3s; 
    color: var(--corTextoB);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: var(--corSecundária);
    width: 100%;
    max-width: 300px;
}

.button:hover {
    background-color: var(--corPrincipal);
}

.footer {
    color: var(--corTextoA);
    text-align: center;
    padding: 16px 0;
    margin-top: 32px;
    font-size: 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .valores {
        padding: 20px;
    }

    .input, .button {
        width: 100%;
        max-width: 100%;
    }

    .footer {
        font-size: 0.9rem;
        padding: 12px 0;
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 0.8rem;
        padding: 8px 0;
    }
}